/* fontes do google */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

/* Elemento raiz (html) */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* CSS Variaveis */
  /* Fontes */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: #7c7c7c;
  padding: 0px 40px;
}

/* .active {
  color: #fc036b;
  border-radius: 20px;
  background: whitesmoke;
  font-weight: bold;
} */

body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  width: 98%;
  max-width: 91rem;
  margin: 0 auto;
}

/*Barra de rolagem*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* barra de navegação*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #ED1C24;
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  z-index: 10;
  color: whitesmoke;
}

.logo {
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0 1.2rem;
  font-weight: 300;
  color: rgb(254, 252, 252); 
  
  
}

p {
  margin-top: 40vh;
  color: red;
  font: normal 60pt Arial;
  text-align: center;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  font-family: var(--ff-montserrat);
  margin: 0px 15px;
}

.nav-links li a {
  color: white;
  cursor: pointer;
}

.cir_border {
  padding: 6px 20px;
  font-weight: bold;
  border: 2px hidden whitesmoke;
  border-radius: 20px;
  margin: 0px -10px;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.png");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.header-content {
  font-family: var(--ff-lora);
  letter-spacing: 0.5rem;
  color: whitesmoke;
  text-align: center;
  z-index: 1;
  padding: 4rem;
  margin-bottom: 150px;
}

.header-content a {
  letter-spacing: 0.1rem;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ctn {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
  font-weight: 700;
  padding: 13px 50px;
  background: #fc036b;
  border-radius: 30px;
  color: whitesmoke;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

/* animações */
img {
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  .cir_border:hover{
      color: black;
  }
  
  
  .active {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: black;
    cursor: pointer;
  }
  
  .ctn:hover {
    background: whitesmoke;
    color: black;
    box-shadow: 2px 2px 5px #00000056;
    cursor: pointer;
  }
  
  .nav-links .ctn:hover a {
    color: black;
  }
  
  body {
    background-size: cover;
    background-image: url(https://cronos-media.sesisenaisp.org.br//api/media/1-0/files?img=img_49_210805_962a03ed-87db-4004-974f-6ab9bcd14075_o.jpg&tipo=p);
    color: white;
  }
  
  body.dark{
    background-color: white;
    color: black;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 48px;
    height: 22px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 18px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

   /* css do sobre nós */

   .cabecalho {
    background: rgb(204, 1, 1);
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
   
                
            
        footer {
            position: absolute;
            bottom: 0;
            background-color: black;
            color: #FFF;
            width: 100%;
            height: 100px;    
            text-align: center;
            line-height: 100px;
        }

        .fonte{
            font-family: 'h Hadir Sans', sans-serif;
        }

        
        